.navbar{background-color: #ffffff!important;
background-position: left bottom!important;
background-repeat: no-repeat!important;
border-width: 0px 0px 0px 0px!important;
border-color: var(--awb-color3)!important;
border-style: solid!important;}
.innerNav{
    width: calc( 100% + 0px ) !important;
    max-width: calc( 100% + 0px ) !important;
    margin-left: calc(0px / 2 );
    margin-right: calc(0px / 2 );
}
.navbar-brand{
    display: flex;
    width: 50% !important;
    margin-top: 0px;
    margin-bottom: 20px;
}
.navBrand{
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    display: flex;
    width: 100%;
}
.navImage{
    display: inline-block;
    z-index: 1;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    max-width: 100%;
    line-height: 1;
    max-width: 200px;

}
.sora{
    width:300px;
    height: 50px;
}
.navbar-collapse{
    display: flex;

    width: 50% !important;
    margin-top: 0px;
    margin-bottom: 10px;
}
.navbar-nav{
    justify-content: flex-end;
    align-items: center;
    font-family: var(--awb-typography3-font-family);
    font-weight: var(--awb-typography3-font-weight);
    font-style: var(--awb-typography3-font-style);
    transition-duration: 500ms;
}
.nav-item{
    letter-spacing: var(--awb-typography3-letter-spacing);
    transition-duration: 500ms;
    margin-left: calc(35px / 2);
    margin-right: calc(35px / 2);
}
.nav-link{
    color: #586bb5 !important;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 18px;
}